{% extends 'peak_wishlist/base.html' %}

{% block title %}
     Excursiones
{% endblock title %}

{% block contenido %}
<div class="text-center py-5">
    <h3 class="display-5 fw-bold text-dark">Lista de Excursiones</h3>
    <hr class="my-4 mx-auto" style="width: 100px; border-top: 3px solid #2c3e50;">
</div>

<h2 class="mb-4 text-dark fw-bold">🥾🚵‍♂️🧗Listado de Excusiones {{ extension_titulo }}</h2>
{% include 'peak_wishlist/componentes/search_bar.html' %}
<div class="table-container-custom table-responsive">
    <table class="table table-custom mb-0">
        <thead>
            <tr>
                <th>Ruta</th>
                <th class="text-center">Fecha Inicio</th>
                <th class="text-center">Fecha Fin</th>
                <th class="text-center">Proyecto</th>
                <th class="text-center">Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for excursion in excursiones %}
            <tr>
               <td class="fw-bold text-primary">{{ excursion.ruta.nombre }} -  {{ excursion.ruta.montana.nombre }}</td>
               <td>
                    <span class="badge bg-light text-dark border">
                        {{ excursion.fecha_hora_inicio|date:"d \d\e M \d\e Y"}} 
                    </span>
                </td>
                <td>
                    <span class="badge bg-light text-dark border">
                         {{ excursion.fecha_hora_fin|date:"d \d\e M \d\e Y"}} 
                    </span>
                </td>
                <td class="text-center">
                    {% if excursion.proyecto %}
                        {{ excursion.proyecto.nombre}}
                    {% else %}
                        Excursion Independiente
                    {% endif %}
                </td>
                <td>
                    <span class="badge border shadow-sm px-3 py-2 
                    {% if excursion.estado == 'Cumbre/Completado' %}
                         bg-success
                    {% elif excursion.estado == 'Intento' %}
                         bg-info text-dark
                    {% elif excursion.estado == 'Planificado' %}
                         bg-warning text-dark
                    {% else %}
                         bg-danger
                    {% endif %}">
                    
                    {% if excursion.estado == 'Cumbre/Completado' %}
                         Cumbre / Completado ✅
                    {% elif excursion.estado == 'Intento' %}
                         Intento 🚩
                    {% elif excursion.estado == 'Planificado' %}
                         Planificado ⏳
                    {% else %}
                         Cancelado ❌
                    {% endif %}
                    </span>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center py-4 text-muted">
                    No hay Excursiones registradas todavía. 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
     
{% endblock contenido %}