{% extends 'peak_wishlist/base.html' %}

{% block contenido %}
    <h2>Bienvendio a Peak Whish List</h2>
    <div>
        <ul>
            <div> 
                <li> Aqui podras registrar todas  tus rutas de montaña</li>
            </div>
            <div> 
                <li> Planifica tus rutas y proximas cumbres </li>
            </div>
            <div> 
                <li> Guarda informaciond utl para compartir sobe las montañas rutas alcanzadas y por alcanzar </li>
            </div>
        </ul>
    <div>
{% endblock contenido %}