{% extends 'peak_wishlist/base.html' %}

{% block title %}
    -  Montañas
{% endblock title %}

{% block contenido  %}
<div class="text-center py-5">
    <h3 class="display-5 fw-bold text-dark">Lista de Montañas</h3>
    <hr class="my-4 mx-auto" style="width: 100px; border-top: 3px solid #2c3e50;">
</div>

<h2 class="mb-4 text-dark fw-bold">⛰️🏔️🌋Listado de Montañas {{ extension_titulo }}</h2>

<div class="table-container-custom table-responsive">
    <table class="table table-custom mb-0">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Altitud</th>
                <th>Cordillera</th>
                <th>Requiere Permiso</th>
                <th>Pais</th>
                <th class="text-center">Rutas</th>
                <th class="text-center">Excursiones</th>

            </tr>
        </thead>
        <tbody>
            {% for montana in montanas %}
            <tr>
                <td class="fw-bold text-primary">{{ montana.nombre }}</td>
                <td>
                    <span class="badge bg-light text-dark border">
                        {{ montana.altitud }} msnm
                    </span>
                </td>
                <td>
                    <span class="badge bg-light text-dark border">
                        {{ montana.cordillera }} 
                    </span>
                </td>
                <td class="text-center">
                    {% if montana.requiere_permiso %}
                        ⚠️
                    {% else %}
                        🆓
                    {% endif %}
                </td>
                <td>
                    <span class="badge bg-light text-dark border">
                        {% for pais in montana.pais.all %} 
                            {{ pais.nombre }} &nbsp;
                        {% endfor %}
                    </span>
                </td>
                <td class="text-center">
                    <a href="#" class="btn btn-sm btn-outline-dark rounded-pill">Ver lista</a>
                </td>
                <td class="text-center">
                    <a href="#" class="btn btn-sm btn-outline-dark rounded-pill">Ver lista</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center py-4 text-muted">
                    No hay países registrados todavía. 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
{% endblock contenido  %}