{% extends 'peak_wishlist/base.html' %}

{% block title %}
     Paises
{% endblock title %}

{% block contenido %}
<div class="text-center py-5">
    <h3 class="display-5 fw-bold text-dark">Lista de Paises</h3>
    <hr class="my-4 mx-auto" style="width: 100px; border-top: 3px solid #2c3e50;">
</div>

<div class="container mb-5">
    <div class="d-flex flex-column flex-md-row align-items-center justify-content-center gap-3">
        <span class="text-muted fw-bold text-uppercase small"><i class="bi bi-geo-alt"></i> Filtrar continente:</span>
        
        <div class="d-flex flex-wrap justify-content-center gap-2">
            <a href="{% url 'peak_wishlist:paises' %}" 
               class="btn btn-sm {% if not continente_actual %}btn-dark{% else %}btn-outline-dark{% endif %} rounded-pill px-4">
               Todos
            </a>

            {% for valor, etiqueta in continentes %}
                <a href="{% url 'peak_wishlist:paises_por_continente' valor %}" 
                   class="btn btn-sm {% if continente_actual == valor %}btn-dark{% else %}btn-outline-dark{% endif %} rounded-pill px-3">
                    {{ etiqueta }}
                </a>
            {% endfor %}
        </div>
    </div>
</div>

<h2 class="mb-4 text-dark fw-bold">🌎🌍🌏Listado de Países</h2>
{% include 'peak_wishlist/componentes/search_bar.html' %}
<div class="table-container-custom table-responsive">
    <table class="table table-custom mb-0">
        <thead>
            <tr>
                <th>País</th>
                <th>Continente</th>
                <th class="text-center">Áreas Protegidas</th>
                <th class="text-center">Montañas</th>
            </tr>
        </thead>
        <tbody>
            {% for pais in paises %}
            <tr>
                <td class="fw-bold text-primary">{{ pais.nombre }}</td>
                <td>
                    <span class="badge bg-light text-dark border">
                        {{ pais.continente }}
                    </span>
                </td>
                <td class="text-center">
                    <a href="{% url 'peak_wishlist:parques_por_pais' pais.id %}" class="btn btn-sm btn-outline-dark rounded-pill">Ver lista</a>
                </td>
                <td class="text-center">
                    <a href="{% url 'peak_wishlist:montanas_por_pais' pais.id %}" class="btn btn-sm btn-outline-dark rounded-pill">Ver lista</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center py-4 text-muted">
                    No hay países registrados todavía. 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
{% endblock contenido %}