{% extends 'peak_wishlist/base.html' %}

{% block title %}
     Parque / Area Protegida
{% endblock title %}

{% block contenido %}
     
<div class="text-center py-5">
    <h3 class="display-5 fw-bold text-dark">Lista de Parques y Areas Protegidas</h3>
    <hr class="my-4 mx-auto" style="width: 100px; border-top: 3px solid #2c3e50;">
</div>

<div class="d-flex flex-column flex-md-row align-items-start justify-content-between gap-3 mb-4">
    <a href="{{ url_volver }}" class="btn btn-outline-dark rounded-pill px-4">
        ← {{ volver_label }}
    </a>
     {% if user.is_authenticated %}
    <a href="{% url 'peak_wishlist:registrar_parque' pais_id=view.pais.id %}" class="btn btn-dark rounded-pill shadow-sm">
        ➕ Registrar Parque
    </a>
    {% endif %}
</div>
<h2 class="mb-4 text-dark fw-bold">🏞️Listado de Parques Nacionales y Areas Protegidas  {{ extension_titulo }}</h2>

{% include 'peak_wishlist/componentes/search_bar.html' %}
<div class="table-container-custom table-responsive">
    <table class="table table-custom mb-0">
        <thead>
            <tr>
               <th>Nombre</th>
               <th>Tlf Contacto</th>   
               <th>Email contacto</th>   
               <th>Web Site</th>  
               <th class="text-center">Montañas</th>
               <th class="text-center">Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for parque in parques %}
            <tr>
                <td class="fw-bold text-primary">{{ parque.nombre }}</td>
                <td>
                    <span class="badge bg-light text-dark border">
                        {{ parque.telefono }}
                    </span>
                </td>
                <td>
                    <span class="badge bg-light text-dark border">
                        {{ parque.correo }} 
                    </span>
                </td>
                <td>
                    <span class="badge bg-light text-dark border">
                        {{ parque.web_site }} 
                    </span>
                </td>
                <td class="text-center">
                    <a href="{% url 'peak_wishlist:montanas_por_parque' parque.id%}" class="btn btn-sm btn-outline-dark rounded-pill">Ver lista</a>
                </td>
                <td class="text-center">
                    <a href="{% url 'peak_wishlist:parque_detail' parque.pk %}" 
                       class="btn btn-sm btn-primary rounded-pill shadow-sm px-3" 
                       style="font-size: 0.75rem; font-weight: 600;">
                        🔍 Detalles
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center py-4 text-muted">
                    No hay Parques registrados todavía. 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'peak_wishlist/componentes/paginacion.html' %}

{% endblock contenido %}