{% extends 'peak_wishlist/base.html' %}
{% block title %}
     Proyectos
{% endblock title %}

{% block contenido %}
<div class="text-center py-5">
<h3 class="display-5 fw-bold text-dark">Lista de Proyectos</h3>
<hr class="my-4 mx-auto" style="width: 100px; border-top: 3px solid #2c3e50;">
</div>

<h2 class="mb-4 text-dark fw-bold">📆🏕️✈️ Listado de Proyectos</h2>
<a href="{% url 'peak_wishlist:registrar_proyecto' %}" class="btn btn-dark rounded-pill shadow-sm">
        ➕ Crear Nuevo Proyecto
</a>
{% include 'peak_wishlist/componentes/search_bar.html' %}
<div class="table-container-custom table-responsive">
    <table class="table table-custom mb-0">
        <thead>
            <tr>
                <th>Proyecto</th>
                <th>Inicio</th>
                <th>Fin</th>
                <th class="text-center">Estado</th>
                <th class="text-center">Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for proyecto in proyectos %}
            <tr>
                <td class="fw-bold text-primary">
                    <div class="fw-bold text-primary">{{ proyecto.nombre }}</div>
                    <div class="text-muted small" style="font-size: 0.7rem;">{{ proyecto.pais_destino }}</div>
                </td>
                <td>
                    <span class="badge bg-light text-dark border">
                        {{ proyecto.fecha_inicio|date:"d \d\e M \d\e Y" }}
                    </span>
                </td>
                <td>
                    <span class="badge bg-light text-dark border">
                        {{ proyecto.fecha_fin|date:"d \d\e M \d\e Y" }}
                    </span>
                </td>
                <td>
                    <span class="badge {% if proyecto.estado == 'Cumbre/Completado' %}bg-success{% else %}bg-warning text-dark{% endif %} border">
                        {% if  proyecto.estado == "Cumbre/Completado" %}
                            Completado ✅
                        {% else %}
                            En Planificación ⏳
                        {% endif %}
                    </span>
                </td>
                <td class="text-center">
                    <div class="btn-group" role="group">
                        <a href="{% url 'peak_wishlist:proyecto_detail' proyecto.pk %}" 
                           class="btn btn-sm btn-primary rounded-pill shadow-sm px-3" 
                           style="font-size: 0.75rem; font-weight: 600;">
                            🔍 Detalles
                        </a>
                        <a href="{% url 'peak_wishlist:proyecto_update' proyecto.pk %}" 
                           class="btn btn-sm btn-warning rounded-pill shadow-sm px-3 ms-1" 
                           style="font-size: 0.75rem; font-weight: 600;">
                            ✏️ Editar
                        </a>
                        <a href="{% url 'peak_wishlist:proyecto_delete' proyecto.pk %}" 
                           class="btn btn-sm btn-danger rounded-pill shadow-sm px-3 ms-1" 
                           style="font-size: 0.75rem; font-weight: 600;">
                            🗑️ Eliminar
                        </a>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7" class="text-center py-4 text-muted">
                    No hay Proyectos registrados todavía. 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>    

{% endblock contenido %}