{% extends 'peak_wishlist/base.html' %}

{% block title %}
     Refugios
{% endblock title %}

{% block contenido %}

<div class="text-center py-5">
    <h3 class="display-5 fw-bold text-dark">Lista de Refugios</h3>
    <hr class="my-4 mx-auto" style="width: 100px; border-top: 3px solid #2c3e50;">
</div>


<div class="d-flex flex-column flex-md-row align-items-start justify-content-between gap-3 mb-4">
    <a href="{{ url_volver }}" class="btn btn-outline-dark rounded-pill px-4">
        ← {{ volver_label }}
    </a>
    <a href="{% url 'peak_wishlist:registrar_refugio' montana_id=view.kwargs.montana_id %}" 
       class="btn btn-dark rounded-pill shadow-sm">
        ➕ Registrar otro Refugio
    </a>
</div>

<h2 class="mb-4 text-dark fw-bold"> 🛖 Refugios en {{ extension_titulo }}</h2>

{% include 'peak_wishlist/componentes/search_bar.html' %}
<div class="table-container-custom table-responsive">
    <table class="table table-custom mb-0">
        <thead>
            <tr>
               <th>Nombre</th>
               <th>Capacidad</th>      
               <th class="text-center">Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for refugio in refugios %}
            <tr>
                <td class="fw-bold text-primary">
                    <div class="fw-bold text-primary">{{ refugio.nombre }}</div>
                    <div class="text-muted small" style="font-size: 0.7rem;">{{ refugio.altitud }} msnm</td>
                <td>
                    <span class="badge bg-light text-dark border">
                        {{ refugio.capacidad }} personas
                    </span>
                </td>
                <td class="text-center">
                    <a href="{% url 'peak_wishlist:refugio_detail' refugio.pk %}" 
                       class="btn btn-sm btn-primary rounded-pill shadow-sm px-3" 
                       style="font-size: 0.75rem; font-weight: 600;">
                        🔍 Detalles
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center py-4 text-muted">
                    No hay Refugios registrados registrados todavía. 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'peak_wishlist/componentes/paginacion.html' %}


{% endblock contenido %}